<h1> Dice </h1>

<% dice1 = rand(1..6)%>
<% dice2 = rand(1..6)%>

<p>
<img src="/images/dice/1<%=dice1%>.svg">
<img src="/images/dice/2<%=dice2%>.svg">
</P>

</p> The total is <%=dice1 + dice2 %> </p>

<p>
<a href="/dice">Roll again</a>
<a href= "/tacos"> Tacos </a>
</p>